@import '@/styles/shared.scss';

.buttonSending {
  position: relative;

  img {
    position: absolute;
    right: 8px;
    top: 8px;
    animation: rotate 1s linear infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.buttonSuccess {
  background: #2EBD59;
  position: relative;

  img {
    position: absolute;
    right: 8px;
    top: 6px;
  }
}

.buttonError {
  background: #981E1E;
  position: relative;

  img {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}

@media(max-width: 1080px) {
  .buttonSuccess {
    img {
      top: 8px;
      right: 8px;
      height: 24px;
      width: 24px;
    }
  }

  .buttonSending {
    img {
      top: 9px;
      right: 9px;
      height: 24px;
      width: 24px;
    }
  }

  .buttonError {
    img {
      top: 9px;
      right: 9px;
      height: 24px;
      width: 24px;
    }
  }
}
