.heading {
  font-size: 32px;
  font-weight: 800;
  color: #fff;
  padding-bottom: 40px;

  span {
    color: var(--primary);
  }
}

@media (max-width: 1280px) {
  .heading {
    font-size: 20px;
  }
}