@import '@/styles/shared.scss';

.wrapper {
  padding: 90px 0;
  z-index: 995;
  position: relative;
}

.questionsWrapper {
  margin-top: 40px;
}

.singleQuestion {
  cursor: pointer;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #353535;
}

.singleQuestionLast {
  cursor: pointer;
}

.headingWrapper {
  display: flex;
  gap: 24px;

  img {
    transform: translateY(20px);
    width: 12px;
    height: 12px;
    margin-left: auto;
  }
}

.index {
  font-size: 30px;
  font-weight: 900;
  color: var(--primary);
}

.heading {
  font-size: 25px;
  font-weight: 900;
  align-self: end;
  transform: translateY(-3px);
}

.faqGradient {
  position: absolute;
  right: 0;
  z-index: -1;
  transform: translateY(-450px);
}

@media (max-width: 1280px) {
  .wrapper {
    padding-top: 45px;
    padding-bottom: 90px;
  }

  .questionWrapper {
    margin-top: 40px;
  }

  .heading{
    font-size: 16px;
  }

  .index {
    font-size: 16px;
    transform: translateY(-3px);
  }

  .headingWrapper {
    gap: 12px;
    img {
      transform: translateY(0px);
    }
  }
}