@import "@/styles/shared.scss";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 32px 0;
  padding-bottom: 90px;
  padding-top: 120px;
  z-index: 995;
}

.gradient {
  right: 0;
}

.contentWrapper {
  width: 40%;

  button {
    margin-top: 16px;
  }
}

.imageWrapper {
  width: 60%;
  position: relative;
  // height: 450px;

  img {
    border-radius: 5px;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    flex-direction: column;
    gap: 16px;
    padding-top: 90px;
  }

  .contentWrapper {
    width: 100%;
    order: 1;
  }

  .imageWrapper {
    width: 100%;
  }
}

@media (max-width: 439px) {
  .wrapper {
    flex-direction: column;
    gap: 16px;
    padding-top: 90px;
  }

  .contentWrapper {
    width: 100%;
    order: 1;
  }

  .imageWrapper {
    width: 100%;
  }
}
