@import '@/styles/shared.scss';

.wrapper {
  display: flex;
  align-items: center;
  gap: 100px;
}

.contentWrapper {
  width: 50%;
}

.imageWrapper {
  width: 50%;
  position: relative;
  height: 500px;
}