@import '@/styles/shared.scss';

.wrapper {
  padding: 90px 0;
}

.stagesWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.singleStageWrapper {
  height: 100%;
  position: relative;
  padding: 24px;

  display: flex;
  flex-direction: column;

  align-items: center;

  border-radius: 5px;
  border: 1px solid #9b9b9b;

  img {
    margin: 16px 0;
  }
}

.index {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 27px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;

  span {
    color: var(--primary);
  }
}

.imageWrapper {
  max-height: 100px;
  margin: 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 21px;
  font-weight: 900;
  padding-top: 16px;
  text-align: center;
}

.desc {
  padding-bottom: 0;
  text-align: justify;
}

.slider {
  display: none;
}

@media (max-width: 1080px) {
    .stagesWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 639px) {
    .stagesWrapper {
      display: none;
    }

  .slider {
    display:block;
    overflow: hidden !important;
  }
}