@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #F6831F;
  --primary-hover: #b45600;
}

* {
  &::selection {
    background: #333;
  }
}

html {
  scroll-behavior: smooth !important;
  background: #000;
}

body {
  color: #fff;
  transition: 0.3s;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  font-family: 'Raleway', sans-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

.pageWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

.errorPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: 35px;
    font-weight: 900;

    span {
      color: var(--primary);
    }
  }

  p {
    font-size: 17px;
    font-weight: 600;
    border-bottom: 1px solid #fff;
  }
}

.swiper-pagination {
  margin-top: 12px;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: inline-block;
  cursor: pointer;
  border-radius: 999px;
  height: 10px !important;
  width: 10px !important;
  background: #343434 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}


@media (max-width: 1280px) {
  .swiper {
    overflow: visible !important;
  }
}

.markdown {
  h1, h2, h3, h4, h5, h6{
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  li{
    list-style-type: disc;
    margin: 0 10px;
    font-weight: bold;
  }

  p{
    margin-bottom: 40px;
    font-weight: 400;
  }
}
