@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Classical", sans-serif;
  src: url("/fonts/Classical.ttf");
}

:root {
  --primary: #f6831f;
  --primary-hover: #b45600;
}

* {
  &::selection {
    background: #333;
  }
}

html {
  scroll-behavior: smooth !important;
  background: #000;
}

body {
  color: #fff;
  transition: 0.3s;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

html {
  font-family: "Raleway", sans-serif !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: 0.3s;
}

* {
  box-sizing: border-box;
}

.pageWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 12px;
}

.errorPage {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  h1 {
    font-size: 24px;
    font-weight: 900;

    span {
      color: var(--primary);
    }
  }

  a {
    span {
      font-size: 20px;
      padding-bottom: 2px;
      font-weight: 600;
      border-bottom: 1px solid #fff;
    }
  }

  .logo {
    z-index: 9999;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 40px;

    span {
      color: var(--primary);
    }
  }
}

.swiper-pagination {
  margin-top: 12px;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.swiper-pagination-bullet {
  display: inline-block;
  cursor: pointer;
  border-radius: 999px;
  height: 10px !important;
  width: 10px !important;
  background: #343434 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 24px;
}
.embla__slide {
  flex: 0 0 80%;
  min-width: 0;
  position: relative;
  min-height: 400px;
}

@media (max-width: 800px) {
  .embla__slide {
    min-height: 450px;
  }
}

@media (max-width: 439px) {
  .embla__slide {
    min-height: 250px;
  }
}

@media (max-width: 1280px) {
  .swiper {
    overflow: visible !important;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 27px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  li {
    list-style-type: disc;
    margin: 0 10px;
    font-weight: bold;
  }

  p {
    margin-bottom: 40px;
    font-weight: 400;
  }
}
