@import '@/styles/shared.scss';

.contactPageWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 90px;
}

.inputsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  div {
    width: 100%;
  }

  input {
    width: 100%;
  }
}


@media (max-width: 1080px) {
  .contactPageWrapper {
    flex-direction: column;
    padding-bottom: 45px;
  }
}